body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #333;
}

.navbar-brand {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #fff;
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.logo {
    width: 100px;
}

.color-form {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 60px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color:  #EF5252;
}

footer {
    background-color: #333;
    color: white;
    bottom: 0;
    width: 100%;
    position: fixed; /*En mi ordenador se ve bien en el ordenador de abdel mal*/
}

.form-control {
    border-radius: 5px;
}

.btn-custom {
    width: 80%;
    margin: 10px;
    font-size: 18px;
    color: white;
    background-color:  #EF5252;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    color: #333;
    background-color: #B33939;
}
.btn-custom2{
    background-color:  #EF5252;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    border: none;
    padding: 10px 20px;
}

.btn-custom2:hover{
    background-color:  #EF5252;
    color: #333;
    background-color: #B33939;
}